header
  nav.blue-grey.darken-4
      .nav-wrapper
        a.brand-logo.center(href='/') Hello
        ul.right.hide-on-med-and-down
          li
            a(href='/thanks') Thanks
          li
            a(href='/registrations') Registrations