extends layout

block content

  .row.center
        
        .col.s12.m8.offset-m2
          h3= `${title}`
          .row
            a.btn.waves-effect.waves-light(href='/')
              | 回首頁
              i.material-icons.right next_plan
